.wrapper-home {
    display: flex;
    justify-content: center;
    height: calc(100vh - var(--default-header-height));
    // background-color: rgb(214, 210, 210);
    .home-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .video-wrapper {
            margin: 0px;
        }
    }
}
