.wrapper-home {
    display: flex;
    height: 1000px;
    .btn-login-test {
        .login-btn {
            height: 50px;
            width: 100px;
            margin-top: 20px;
            font-size: 20px;
        }
    }
}
