.wrapper-slice-video {
    .video-container {
        .video-header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .header-info {
                display: flex;
                .header-info-avatar {
                    .avatar {
                    }
                }
                .header-info-user {
                    .header-info-acc {
                        .header-info-name {
                        }
                    }
                    .header-info-desc {
                        .header-info-hashtag {
                        }
                    }
                    .header-info-music {
                    }
                }
            }
            .following-status {
                .status-btn {
                    background-color: transparent;
                    width: 120px !important;
                    height: 30px;
                }
            }
        }
        .video-body {
            display: flex;
            .video-interact {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .interactable {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .video-like {
                }
                .video-cmt {
                }
                .video-share {
                }
            }
        }
    }
}
