.wrapper-slice-video {
    .video-container {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: flex-start;
        .video-avatar {
            margin-left: 10px;
            .avatar {
                height: 56px;
                width: 56px;
                border-radius: 50%;
            }
        }
        .video-main {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-left: 12px;
            width: 390px;
            .video-header {
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 120px;
                .header-info {
                    display: flex;
                    width: 100%;
                    .header-info-user {
                        width: 100%;
                        .header-info-acc {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            .header-info-data {
                                .avatar {
                                    display: none;
                                    height: 40px;
                                    width: 40px;
                                    border-radius: 50%;
                                    margin-right: 10px;
                                }
                                .wrapper-account-item {
                                    .nickname {
                                        font-family: 'SofiaPro', sans-serif;
                                        font-weight: 700;
                                        font-size: 17px;
                                        margin-right: 10px;
                                    }
                                    .username {
                                        font-family: 'ProximaNova', sans-serif;
                                        font-size: 14px;
                                    }
                                    .check {
                                        margin-left: 2px;
                                        color: rgb(32, 213, 236);
                                    }
                                }
                            }
                        }
                        .header-info-desc {
                            display: flex;
                            flex-direction: column;
                            .header-info-hashtag {
                                font-family: 'ProximaNova', sans-serif;
                                font-weight: 600;
                            }
                        }
                        .header-info-music {
                            font-size: 14px;
                            .music-icon {
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }
            .video-body {
                display: flex;
                .video {
                    background-color: #555;
                }
                video::-webkit-media-controls-fullscreen-button {
                    display: none !important;
                }
                video::-webkit-media-controls-current-time-display {
                    display: none !important;
                }
                video::-webkit-media-controls-time-remaining-display {
                    display: none !important;
                }
                // video::-webkit-media-controls-timeline {
                //     display: none !important;
                // }
                video::-webkit-media-controls-rewind-button {
                    display: none !important;
                }
                video::-webkit-media-controls-toggle-closed-captions-button {
                    display: none !important;
                }
                .video-interact {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    .video-like,
                    .video-cmt,
                    .video-share {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin: 16px 0px 0px 20px;
                        .icon {
                            font-size: 18px;
                            padding: 8px;
                            cursor: pointer;
                            background-color: rgba(22, 24, 35, 0.08);
                            border-radius: 50%;
                            &:hover {
                                background-color: rgba(22, 24, 35, 0.13);
                                border-radius: 50%;
                            }
                        }
                        .text {
                            font-size: 14px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .following-status {
            .follow {
                position: sticky;
                right: 0;
                width: 110px;
                height: 35px;
                border: 1px solid rgba(22, 24, 35, 0.2);
                border-radius: 5px;
                font-weight: 600;
                outline: none;
                margin-left: 20px;
                color: var(--color-white);
                background-color: var(--primaryH);
            }
            .following {
                position: sticky;
                right: 0;
                width: 110px;
                height: 35px;
                border: 1px solid rgba(22, 24, 35, 0.2);
                border-radius: 5px;
                font-weight: 600;
                outline: none;
                margin-left: 20px;

                color: var(--primaryH);
                background-color: transparent;
            }
        }
    }
}

@media (max-width: 992px) {
    .wrapper-slice-video {
        .video-container {
            .video-avatar {
                display: none;
            }
            .video-main {
                width: 320px;
                .video-header {
                    .header-info {
                        .header-info-user {
                            .header-info-acc {
                                .header-info-data {
                                    display: flex;
                                    .avatar {
                                        display: block;
                                    }
                                    .wrapper-account-item {
                                        display: flex;
                                        flex-direction: column;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .following-status {
                position: absolute;
                right: 10px;
            }
        }
    }
}

@media (max-width: 768px) {
    .wrapper-slice-video {
        .video-container {
            .video-main {
                width: 300px;
            }
        }
    }
}

@media (max-width: 576px) {
}
