.wrapper-footer {
    .footer-container {
        width: 100%;
        height: 200px;
        background-color: plum;
    }

    .up-top {
        position: fixed;
        bottom: 5px;
        right: 10px;
        .up-top-icon {
            height: 30px;
            color: var(--primaryO);
            :hover {
                color: var(--primaryH);
            }
        }
    }
}
