.wrapper-footer {
    .up-top {
        position: fixed;
        bottom: 5px;
        right: 10px;
        .up-top-icon {
            height: 30px;
            color: var(--primaryO);
            :hover {
                color: var(--primaryH);
            }
        }
    }
}
