.wrapper-footer {
    .up-top {
        position: fixed;
        bottom: 8px;
        right: 12px;
        background-color: transparent;
        z-index: 9999;
        .up-top-icon {
            height: 30px;
            color: var(--primaryO);
            :hover {
                color: var(--primaryH);
            }
        }
    }
}
